body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: 'SF Pro Text', 'Helvetica Neue';
}

body > * > * {
  /* width: 960px; */
  position: relative;
  margin: 0 auto;
  padding: 40px 0 16px;
}

header {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

h1 {
  width: 960px;
  display: flex;
  font-weight: 900;
}

svg rect.feedback {
  fill: #ee294e;
}
svg rect.rispetto {
  fill: #ffd166;
}
svg rect.comunicazione {
  fill: #06d6a0;
}
svg rect.semplicità {
  fill: #118ab2;
}
svg rect.coraggio {
  fill: #073b4c;
}

svg text {
  font-family: 'SF Pro Text', 'Helvetica Neue';
  font-size: 10px;
}